GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MINIO_ACCESS_KEY=
MINIO_BUCKET=
MINIO_ENDPOINT=
MINIO_SECRET_KEY=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_UMAMI_HOST_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
